.profile__info {
    display: flex;
    max-width: 336px;
    margin-top: 22px;
    flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
    .profile__info {
        margin-bottom: 36px;
        justify-content: center;
        
    }
    }