.elements__list-item {
    border-radius: 10px;
    border: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media screen and (max-width:1023px) {
    .elements__list-item {
        max-width: 282px;

    }
}

